*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: tahoma;
}
img
{
    width: 550px;
    height: 450px;
}
.btn
{
    margin-top: 1rem;
}

#formsetting
{
    padding:10px;
    margin-right: 10px;
    border-radius:10px;
}
.main-body
{
    width: 100%;
    min-width: 0px;
}
.sidebar
{
    width: 16rem;
    font-size: 1.1ren;
    transition:all 0.5s ease;
}
.sidebar a:hover
{
    padding-left:5px;
    transition: all 0.5s ease;
    background-color: #dc3545;
    color: white;
}
.sidebar-heading
{
    padding-top: 10px;
    padding-bottom: 10px;

}
.sidebar i{
    background-color: #dc3545;
    border-radius: 50%;
    color: white;
    margin-right: 4px;
}
@media (min-width:300px)
{
    #wrap.toggled .sidebar
    {
        margin-left: -16rem
    }
}
.icon i{
    width:100px;
    height: 100px;
    background: white;
    font-size: 55px;
    color: #dc3545;
    border-radius: 50%;
    padding-top: 18px;
    position:relative;
    left: 35%;
    bottom:5px;
}
.icon i:hovor
{
    font-size: 65px;
    background: #dc3545;
    color:white;
}
a:link
{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}